.about-us{
    
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $grey;
    
}

.about-img{
    width: 30%;
    height: 10%;
    margin-bottom: 500px;
}

