.about-us{
    background-image: url("../../assets/image0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}

.about-text{
    background-color: rgba(0, 0, 0, 0.123);
}

