.auth{color: white; 
        align-items: center;
        background-color:rgba(216, 216, 65, 0.884);
        height: 50vh; 
        width: 100%;
        border-radius: 1px;
        margin-top:15%;
}

.auth-title{
        text-align: center;
}        

.auth-userName{
        height:26px;
        border-radius: 5px;
        width: 30%;
}

.auth-password{
        height:24px;
        border-radius: 25px;
        
}

.auth-info{
        display: flex;
        justify-content: space-around;
        height:30px;
        
}

.logo{
        align-items: center;
        height:200px;
        width:450px;

        // @include for-tablet-landscape-up{
        //         height: 100px;
        //         width: 225px;
        // }
}

.remember-me{
        margin: 0;
        padding: 0;
        width: 20px;
}