.create-form{
    background-color: $yellow;
    display: flex;
    flex-direction: column;
    position: fixed;
    left:30%;
    top:30%;
    width:50%;
    height: 50%;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius:10px ;
}
.hideForm {
    display: none;
}

input{
    width: 70%;
}

.your-review{
    height:200px;
    margin-bottom: 10px;
}

.submit-review{
    width: 70%;
}