@mixin icon-theme {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  word-spacing: 5px;
  &:hover {
    text-decoration: underline white;
  }
  // margin-right:30px;
  
}

.company-logo {
  width: 40px;
}
.header-component {
  background-color: #424242;
  color: white;
  display: flex;
  margin-left: -120px;
  justify-content: space-around;
  align-items: center;
  width:110%;
  @media(max-width: 1400px) {
        margin-left: -60px;
  }
  @media(max-width: 860px) {
        margin-left: -40px;
  }
  @media(max-width: 650px) {
    margin-left: 0px;
}
 
}

.about-icon {
  @include icon-theme();
}

.podcast-icon {
  @include icon-theme();
}

.review-icon {
  @include icon-theme();
}

.logout {
  @include icon-theme();
}
