@mixin hide{
  display:none;}

.video-container {
  width: 100vw;
  height: auto;
  position: fixed;
  z-index: 1;
}

video {
  margin-top: 15px;
  width: 100%;
  height: 80vh;
}

.vi {
  @include universal-theme();
  background-color: $grey;
  justify-content: center;
  width:100%;
}

.hide-video {
  display: none;
}

.search {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  padding: 20px;
  z-index: 2;
  text-align: center;
  // position: fixed;
  // left: 600px;
  // top: 400px;
  width: 500px;
  height: 100px;
  border: solid rgba(0, 0, 0, 0.37) 3px;
  border-radius: 1rem;
  background-color:$grey;
} 
.search-top {
  // position: sticky;
  top: 50px;
}

.map-shows {
  width: 75%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.show-preview {
@include universal-theme();
  img{
    height: 100px;
    width: 100%;
    margin-top: 30px;
    flex-direction: row;
  }
}

.no-shows {
  @include hide();
}

.query {
  width: 400px;
  border-radius: 5px;
}

// .search-bar{
//   z-index:2;
//   position: fixed;
//   margin-top: 500px;
//   margin-left: 720px;
//   margin-right: 100px;
// }
