.App{
    color:white;
    background: url("../../assets/image0.jpg");
 
    background-size: cover;
    display:flex;
    height: 100vh;
    width: 100%;
}

@mixin btn-theme{
    cursor: pointer;
    border-radius: 10px;
    border:solid chartreuse 3px;
    color:white;
    background-color: black;
    &:hover{
        background-color: chartreuse
    }
}

$grey:rgba(0, 0, 0, 0.37);
$yellow: rgba(216, 216, 65, 0.493);

button{
    @include btn-theme()
}

@import './auth';
@import './register';
@import './home';
@import './about';
@import './searchBar';
@import './createreview';
@import './header';